.header-placeholder {
  height: 82px;
}

header {
  background-color: #85756d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  border-bottom: 6px solid #413734;
  color: white;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  padding: 10px 0;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0 30px;
  text-transform: uppercase;
  z-index: 10;
  font-size: 1.2rem;
}

header nav {
  padding-left: 2em;
  width: auto;
  display: inline-block;
  z-index: 10;
}

.header-contact {
  display: inline-block;
}

.header-contact-detail {
}

.header-contact div {
  display: inline-block;
}

.contact-icon {
  color: #2c2c2c;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.4em;
  border-radius: 100%;
}

.header-contact {
  font-size: 1.2rem;
}

.header-contact > * {
  margin-right: 2em;
}
