<header>
  <nav>
    <a routerLinkActive="selected-page" routerLink="/acasa">Acasa</a>
    <!-- <a href="">Angajati</a>
	  <a href="">Candidati</a> -->
    <a routerLinkActive="selected-page" routerLink="/joburi"
      >Joburi disponibile</a
    >
    <a routerLinkActive="selected-page" routerLink="/contact">Contact</a>
  </nav>
  <div class="header-contact">
    <div class="header-contact-detail">
      <!-- <i class="far fa-envelope contact-icon"></i> -->
      <mat-icon
        class="contact-icon"
        aria-hidden="false"
        aria-label="Example thumbs up SVG icon"
        >home</mat-icon
      >
      <span> 0722222435 </span>
    </div>
    <div class="header-contact-detail">
      <!-- <i class="far fa-envelope contact-icon"></i> -->
      <mat-icon
        class="contact-icon"
        aria-hidden="false"
        aria-label="Example thumbs up SVG icon"
        >home</mat-icon
      >
      <span> contact@brunru.ro </span>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>
