footer div {
  color: rgb(160, 160, 160);
  display: flex;
  //   justify-content: center;
  background-color: rgb(29, 29, 29);
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
  padding-left: 50px;
}
