@font-face {
  font-family: "questrialregular";
  src: url("/assets/Font/questrial-regular-webfont.woff2") format("woff2"),
    url("/assets/Font/questrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.circle .mat-icon {
  color: #f0f0f0;
  transform: scale(2.5);
}

.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  height: calc(100% - 140px);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: rgb(56, 56, 56);
  z-index: 1;
  border-radius: 25px;
  filter: drop-shadow(7px 7px 3px #b4b4b4);
  min-height: 500px;
  flex-basis: 30%;
  width: 100%;
  align-items: center;
  margin: 70px 0;
  margin-right: 40px;
  padding: 20px;

  //   overflow: hidden;
}

.card {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   background-color: #f0f0f0;
  //   color: rgb(56, 56, 56);
  //   height: 500px;
  //   flex-basis: 30%;
  //   margin-top: 70px;
  //   padding-top: 80px;
  //   margin-right: 2%;
  //   filter: drop-shadow(7px 7px 3px #b4b4b4);
  //   border-radius: 25px;

  .mat-mini-fab {
    background-color: #f0f0f0;
    left: -60px;
    top: 20px;
    position: absolute;

    .mat-icon {
      color: rgb(56, 56, 56);
    }
  }
}

.card h2 {
  text-align: center;
  top: 25%;
  margin-bottom: 30px;
}

.card .description {
  font-size: 13px;
  width: 80%;
  border-top: 5px solid #dbca2d;
  padding-top: 20px;
}

.circle {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #5f473e;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin-bottom: 30px;
  border-radius: 100%;
}

.circle img {
  justify-content: space-around;
  height: 50px;
  top: 25%;
  left: 25%;
  bottom: 25%;
  right: 25%;
  filter: drop-shadow(4px 2px 1px #1f1a17);
}
.page {
  background-color: #f0f0f0;

  display: flex;
  margin-top: 20px;
  height: 300px;
  width: 1000px;
  justify-content: center;
  padding-top: 5%;
  filter: drop-shadow(7px 7px 3px #b4b4b4);
  border-radius: 25px;
}

.criterii {
  min-height: 540px;
  width: 100%;
  background-color: #f0f0f0;
  filter: drop-shadow(7px 7px 3px #b4b4b4);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.cerinte {
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 25px;
  filter: drop-shadow(3px 5px 5px #2c2c2c1e);
  margin-right: 20px;
}

.cerinte:hover {
  transform: scale(1.07);
  filter: drop-shadow(3px 5px 5px #2c2c2c4d);
}

.avantaje {
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 25px;
  filter: drop-shadow(3px 5px 5px #2c2c2c1e);
}
.avantaje:hover {
  transform: scale(1.07);
  filter: drop-shadow(3px 5px 5px #2c2c2c4d);
}

.content {
  display: flex;
  flex-direction: column;
}

.text2 {
  column-count: 3;
  column-gap: 30px;
  column-width: 100%;
  width: 700px;
  padding-top: 20px;
}

.card .special-button {
  background-color: #e6b752;
  font-family: "questrialregular";
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 70px;
  top: 40%;
  left: 20%;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
}

.card .special-button:hover {
  background-color: #f7de8e;
  transform: scale(1.07);
}
