<app-header></app-header>
<div *ngIf="job$ | async as job" class="container">
  <div class="card">
    <!-- <div class="back-button"></div> -->
    <button
      mat-mini-fab
      aria-label="Example icon button with a filter list icon"
      routerLink="/joburi"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="circle">
      <div class="category_icon_container">
        <mat-icon *ngIf="job?.category?.icon">{{ job.category.icon }}</mat-icon>
      </div>
    </div>

    <h4 style="flex-grow: 0">{{ job.title }}</h4>
    <div
      style="flex-grow: 1"
      [innerHtml]="job.description"
      class="description"
    ></div>
    <button (click)="openDialog(job)" class="special-button">
      ESTI INTERESAT? CONTACTEAZA-NE!
    </button>
  </div>

  <div class="content">
    <div class="criterii">
      <div [innerHtml]="job.requirements" class="cerinte"></div>
      <div [innerHtml]="job.benefits" class="avantaje"></div>
    </div>
  </div>
</div>
