<app-header></app-header>
<div class="container">
  <div class="text_contact">
    <h3>CONTACT</h3>
    <p>
      Suntem disponibili de Luni până Vineri între orele 8:00-17:00, sau ne
      puteți scrie oricând pe email!
    </p>
  </div>

  <form class="text_box">
    <div class="row">
      <div class="label-input half-width">
        <label>Numele </label>
        <input #nume type="text" />
      </div>
      <div class="label-input half-width">
        <label>Prenumele </label>
        <input #prenume type="text" />
      </div>
    </div>

    <div class="row">
      <div class="label-input half-width">
        <label>Email</label>
        <input #email type="email" />
      </div>
      <div class="label-input half-width">
        <label>Telefon</label>
        <input #telefon type="text" />
      </div>
    </div>

    <div class="row">
      <div class="fileInput label-input">
        <label>CV</label>
        <input #cv type="file" (change)="handleFileInput($event)" />
      </div>
    </div>

    <div class="u-pos-relative">
      <div class="label-input">
        <label>Mesajul tau</label>
        <textarea #mesaj> </textarea>
      </div>
      <div
        (click)="
          sendMessage(
            prenume.value,
            nume.value,
            email.value,
            telefon.value,
            mesaj.value
          )
        "
        class="send-btn"
      >
        TRIMITE
      </div>
    </div>
  </form>
</div>
<footer>
  <p>Brun - 2021@</p>
</footer>
