<form class="text_box">
  <div class="row">
    <div class="label-input half-width">
      <label>Numele </label>
      <input #nume type="text" />
    </div>
    <div class="label-input half-width">
      <label>Prenumele </label>
      <input #prenume type="text" />
    </div>
  </div>

  <div class="row">
    <div class="label-input half-width">
      <label>Email</label>
      <input #email type="email" />
    </div>
    <div class="label-input half-width">
      <label>Telefon</label>
      <input #telefon type="text" />
    </div>
  </div>

  <div class="row">
    <div class="fileInput label-input">
      <label>CV</label>
      <input #cv type="file" (change)="handleFileInput($event)" />
    </div>
  </div>

  <div class="u-pos-relative">
    <div class="label-input">
      <label>Mesajul tau</label>
      <textarea #mesaj> </textarea>
    </div>
    <div
      (click)="
        sendMessage(
          prenume.value,
          nume.value,
          email.value,
          telefon.value,
          mesaj.value
        )
      "
      class="send-btn"
    >
      TRIMITE
    </div>
  </div>
</form>
