:host {
  background-color: rgba(0, 0, 0, 0);
}

html {
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "questrialregular";
  src: url("/assets/Font/questrial-regular-webfont.woff2") format("woff2"),
    url("/assets/Font/questrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fileUpload {
  background: #00bcbe;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 1.25em auto; /*20px/16px 0*/
  overflow: hidden;
  padding: 0.875em; /*14px/16px*/
  position: relative;
  text-align: center;
  width: 120px;
  cursor: pointer;
}

h1,
h2,
p {
  margin: 0;
}

body {
  font-family: "questrialregular";
  margin: 0;
  background-color: #e4e4e4;
  height: auto;
  overflow-y: scroll;
  width: 100%;
}

header {
  font-family: "questrialregular";
  background-color: #85756d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  border-bottom: 6px solid #413734;
  color: white;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  padding-top: 10px;
  margin-bottom: 40px;
  filter: drop-shadow(10px, 10px, 10px rgb(90, 90, 90));
}

.header-placeholder {
  height: 4em;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0 30px;
  text-transform: uppercase;
  z-index: 10;
  font-size: 1.2rem;
}

header nav {
  padding-left: 2em;
  width: auto;
  display: inline-block;
  z-index: 10;
}

.header-contact {
  display: inline-block;
}

.header-contact div {
  display: inline-block;
}

.selected-page {
  position: relative;
}

.selected-page:after {
  position: absolute;
  content: "";
  height: 10px;
  bottom: -30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

.selection-bar {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100px;
  height: 10px;
  left: 430px;
  top: 55px;
}

.contact-icon {
  color: #2c2c2c;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.6em;
  border-radius: 100%;
}

.header-contact {
  font-size: 1.2rem;
}

.header-contact > * {
  margin-right: 2em;
}

.container {
  background-color: #e4e4e4;
  display: flex;
  height: calc(100vh - 90px - 82px);
  justify-content: space-between;
  padding: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.text_contact {
  color: #2c2c2c;
  font-weight: lighter;
  font-size: 23px;

  width: 50%;
  padding-right: 60px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.half-width {
  width: 45%;
}
input,
textarea {
  border: solid 3px rgb(238, 182, 78);
}
textarea {
  resize: none;
  height: 220px;
}
label {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
  height: 25px;
}
.u-pos-relative {
  position: relative;
}
.u-display-block {
  display: block;
}

.send-btn {
  cursor: pointer;
  font-weight: bolder;
  color: #2c2c2c;
  font-size: 17px;
  position: absolute;
  right: -100px;
  background-color: rgb(238, 182, 78);
  width: 100px;
  height: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 15px;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 22px solid rgb(238, 182, 78);
  top: 0px;
  right: -34px;
}

.text_box {
  display: flex;
  flex-direction: column;
  font-family: "questrialregular";
  color: #2c2c2c;
  background-color: #f0f0f0;
  width: 50%;
  padding: 30px;
  margin-right: 50px;
  border-radius: 40px;
  filter: drop-shadow(5px 5px 5px #a8a8a8);
}

.label-input {
  display: flex;
  flex-direction: column;
}

footer p {
  color: rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  padding-bottom: 40px;
  padding-top: 30px;
}

@media (max-width: 1015px) {
  .header-contact {
    display: none;
  }
}
