@font-face {
  font-family: "questrialregular";
  src: url("/assets/Font/questrial-regular-webfont.woff2") format("woff2"),
    url("/assets/Font/questrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.menu ul {
  padding: 20px;
  margin: 0;
  overflow-y: auto;
  height: calc(100% - 130px);
  scrollbar-width: thin;
}

.menu ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  // border-radius: 10px;
}

.menu ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.menu ul::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.menu li.selected-category {
  background-color: #fafafa;
  filter: drop-shadow(13px 13px 6px rgba(39, 38, 37, 0.5));

  h3 {
    font-weight: 500;
  }
}

.menu li h3 {
  display: inline;
  margin: 0;
}

.menu li .mat-icon {
  font-size: 1.4em;
  transform: translateY(0.1em);
  margin-right: 20px;
}

.circle .mat-icon {
  color: #f0f0f0;
  scale: 2.5;
}

.circle .category-icon {
  transform: scale(15);
}

.container {
  display: flex;
  height: calc(100vh - 50px - 82px);
}

.menu {
  color: rgb(48, 46, 46);
  background-color: #d4d4d4;
  //   display: block;
  width: 400px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 25px;
  filter: drop-shadow(5px 5px 3px rgb(180, 180, 180));
  overflow: auto;
}
.menu-header {
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0 0;
  text-align: center;
  padding-top: 19px;
  font-size: 16px;
  font-weight: 300;
}
.menu li {
  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  filter: drop-shadow(10px 10px 4px rgba(39, 38, 37, 0.5));
  cursor: pointer;
  text-align: center;
  //   font-size: 1.3rem;
  font-size: 1em;
  font-weight: 400;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li:hover {
  transform: scale(1.05);
  z-index: 1;
}

.menu a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 50px 0;
  width: 100%;
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: rgb(56, 56, 56);
  z-index: 1;
  border-radius: 25px;
  filter: drop-shadow(7px 7px 3px #b4b4b4);
  //   max-height: 400px;
  height: 317px;
  flex-basis: 30%;
  width: 100%;
  margin: 0 1.6% 30px;
  align-items: center;
  //   overflow: hidden;
}

.job-description-preview {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  display: inline-block;
}

.link1 {
  display: none;
  left: 600px;
  top: 150px;
  height: 300px;
  z-index: 2;
  border-radius: 25px;
  flex-basis: 25%;
}

/* .extension {
    position: relative;
    display: block;
    justify-content: left;
    height: 300px;
    width: 50px;
    z-index: -3 ;
    top: -288px;
    left: 75px;
    background-color: #5f473e;
  } */

.card:hover {
  transform: scale(1.03);
  z-index: 1;
}

.card h2 {
  position: relative;
  text-align: center;
  margin: 20px 0 6px;
}

.card .job-description-preview {
  font-size: 13px;
  width: 80%;
  border-top: 5px solid #dbca2d;
  padding-top: 20px;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 25px;
}

.circle {
  margin: 0;
  border-radius: 100%;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #5f473e;
  justify-content: center;
  align-items: center;
}

.circle img {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 50px;
  top: 25%;
  left: 25%;
  bottom: 25%;
  right: 25%;
  filter: drop-shadow(4px 2px 1px #1f1a17);
}

footer p {
  color: rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  padding-bottom: 40px;
  padding-top: 30px;
  margin-top: 40px;
}

@media only screen and (max-width: 1270px) {
  .card {
    // margin: 1%;
    // margin-top: 15%;
    // padding-left: 10%;
    // padding-right: 10%;
    width: 450px;
  }
  //   .circle {
  //     left: 25%;
  //     width: 60px;
  //     height: 60px;
  //   }
}

@media (max-width: 1321px) {
  //   .circle {
  //     left: 26%;
  //     width: 80px;
  //     height: 80px;
  //   }
  //   .circle img {
  //     height: 40px;
  //   }
}

@media (max-width: 1000px) {
  .header-contact {
    display: none;
  }
}
