<app-header></app-header>
<div class="container">
  <div class="menu">
    <div class="menu-header">FILTREAZA DUPA CATEGORIE</div>
    <ul>
      <li
        [ngClass]="{
          'selected-category': undefined === filterService.selectedCategoryId
        }"
        (click)="filterByCategory(undefined)"
      >
        <mat-icon></mat-icon>
        <h3>Toate joburile</h3>
      </li>
      <li
        [ngClass]="{
          'selected-category': category.id === filterService.selectedCategoryId
        }"
        (click)="filterByCategory(category)"
        *ngFor="let category of categories$ | async"
      >
        <mat-icon>{{ category?.icon ?? undefined }}</mat-icon>
        <h3>{{ category.name }}</h3>
      </li>
    </ul>
  </div>

  <div class="card_container">
    <!-- <div class="icons">
		<img class="gear" src="../Joburi/gear.svg">
		<img class="vaccine" src="../Joburi/syringe.png">
		<img class="newspaper" src="../Joburi/newspaper.svg">
		<img class="laptop" src="../Joburi/laptop.svg">
	  </div> -->

    <!-- <div class="row"> -->

    <div *ngFor="let job of jobs$ | async" class="card">
      <div style="flex-shrink: 0" class="circle-container">
        <div class="circle">
          <mat-icon>{{ job?.category?.icon }}</mat-icon>
        </div>
      </div>

      <h2 style="flex-shrink: 0">{{ job.title }}</h2>
      <div class="job-description-preview" [innerHtml]="job.description"></div>

      <div class="button-container">
        <a mat-raised-button [routerLink]="['/job', job.id]">Vezi detalii</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
