<app-header></app-header>
<section class="main-section">
  <div class="main-text-wrapper">
    <div class="main-text">
      <h1>Brun - Resurse umane</h1>
      <p>
        Brun este agenția de recrutare care de mai bine de 20 de ani ajută
        oamenii să își găsească locul potrivit de muncă. Tu ești pregătit să îți
        găsești locul potrivit?
      </p>
    </div>
    <div class="call-to-action-wrapper">
      <button class="call-to-action" routerLink="/joburi">
        Vezi joburile disponibile
      </button>
    </div>
  </div>

  <div class="skew">
    <div class="skewx">
      <div class="skew-content"></div>
    </div>
  </div>
</section>
<section class="text-sections">
  <div class="text-section">
    <h2>Esti candidat?</h2>
    <p>
      În fiecare an ajutăm nenumărate persoane să își găsească locul de muncă
      potrivit, indiferent de domeniul pe care oamenii îl caută. Selecția de
      joburi Brun este una variată, având poziții din orice sector de
      activitate, de la industrie grea, la IT sau Finanțe. Cauți un loc de
      munca? Aruncă un ochi peste lista noastră de joburi disponibile, și
      trimite-ne un email când vrei să vorbim mai multe, abia așteptăm să ne
      cunoaștem!
    </p>
  </div>
  <div class="text-section">
    <h2>Esti angajator?</h2>
    <p>
      Atunci Brun te ajută să îți umpli golul din firmă! Dacă dorești să îți
      afișezi joburile disponibile pe site-ul nostru și să colaborezi cu noi,
      atunci te invităm să ne scrii un email, sau să ne contactezi telefonic.
      Noi căutăm permanent să ne diversificăm oferta.
    </p>
  </div>
</section>
<app-footer></app-footer>
