@font-face {
  font-family: "questrialregular";
  src: url("/assets/Font/questrial-regular-webfont.woff2") format("woff2"),
    url("/assets/Font/questrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
p {
  margin: 0;
}

body {
  font-family: "questrialregular";
  margin: 0;
}

.main-section {
  height: 80vh;
}

.main-section {
  background-image: url("/assets/images/double_background.png");
  background-size: cover;
  background-repeat: repeat;
  overflow: auto;
  position: relative;
}

.main-text-wrapper {
  width: 40%;
  margin: 100px;
}

.main-text {
  padding: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
}

.main-text > h1 {
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 3rem;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.main-text > p {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.call-to-action {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 2em;
  background-color: #f1a849;
  color: black;
  height: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 1.5em;
  border: none;
  box-shadow: 7px 7px 2px rgba(20, 20, 20, 0.2);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.call-to-action-wrapper {
  display: flex;
}

.call-to-action :hover {
  scale: 15%;
}

.text-sections {
  background-color: #f0f0f0;
  /* height: 80vh; */
  color: #2c2c2c;
  display: flex;
  padding: 1em 1em;
  filter: drop-shadow(0px 3px 5px #969696);
}

.text-section {
  width: 50%;
  margin-top: 50px;
  padding-bottom: 200px;
}

.text-section > h2 {
  font-size: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
}

.text-section > p {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.skew {
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
  filter: drop-shadow(-1px -1px 1px rgb(184, 184, 184));
}

.skew-content {
  position: absolute;
  right: -20px;
  bottom: 0;
  transform: skewX(-50deg);
  width: 600px;
  height: 30px;
  background-color: #f0f0f0;
  scale: 1.05;
}

.selected-page {
  position: relative;
}

.selected-page:after {
  position: absolute;
  content: "";
  height: 10px;
  bottom: -33px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

.contact-icon {
  color: #2c2c2c;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.4em;
  border-radius: 100%;
}

.header-contact {
  font-size: 1.2rem;
}

.header-contact > * {
  margin-right: 2em;
}

@media (max-width: 987px) {
  .header-contact {
    display: none;
  }

  .main-text-wrapper {
    width: 90%;
    margin: 5em auto;
  }

  .text-sections {
    flex-direction: column;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
